<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FashionNova</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    
    <script src="js/main.js" type="module"></script>
    <footer>
      <div class="social">
        <a href="https:www.facebook.com" target="_blank">
        <img src="../images/Facebook_Logo.png" alt="Facebook_Logo.png">
        </a>
        <a href="https:www.instagram.com" target="_blank">
        <img src="../images/instagram_logo.png" alt="Facebook_Logo.png">
        </a>
        </div>
      &copy;NOT a real business</footer>
  </body>
</html>
